<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/static/styles/account.css">
</head>

<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <section id="accountIntro">
    <h1>Account</h1>
    <p>Welcome to your account page <%= username %>. Here you can find all of your favorite drinks!</p> 
    <img src="/static/images/account/pinkCocktail.png" alt="pink cocktail cute vibe">
    <img src="/static/images/account/yellowCocktail.png" alt="yellow cocktail cute vibe">
     <!-- both images are from vecteezy.com  -->
  </section>
  
  <section id="userFavorites">
    <h2>Favorite cocktails:</h2>
    <% if (favorites && favorites.length > 0) { %>
      <ul>
        <% favorites.forEach(function(drink) { %>
          <li>
            <a href="/detailPage?id=<%= drink.idDrink %>">
              <h3><%= drink.strDrink %></h3>
              <img src="<%= drink.strDrinkThumb %>" alt="<%= drink.strDrink %>" width="100">
            </a>
            <form action="/toggleFavorite" method="post">
              <input type="hidden" name="cocktailId" value="<%= drink.idDrink %>">
              <button class="heartButton favourited" type="submit">
                  <svg viewBox="0 0 65.68 54.33">
                      <path d="M64.68,17.52c0,2.9-.96,5.29-2.28,7.57-1.74,3.02-4.03,5.66-6.62,7.92l-22.88,19.99L6.8,30.27h0c-1.43-1.39-5.79-7.63-5.79-12.75C1,8.4,8.13,1,16.92,1s15.93,7.4,15.93,16.52c0-9.12,7.12-16.52,15.92-16.52s15.92,7.4,15.92,16.52Z"/>
                  </svg>
              </button>
            </form>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>You haven't added any favorite cocktails yet.</p>
    <% } %>
  </section>

  <a href="/logout">Log out</a>
</main>


<footer>
  <%- include('../partials/footer'); %>
</footer>

<script src="/static/scripts/common.js" defer></script> 
</body>
</html>