<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <h1><%= ${drink.strDrink} %></h1>
    <img src="<%= ${drink.strDrinkThumb} %>" alt="<%= ${drink.strDrink} %>">
    <p><%= ${drink.strInstructions} %></p>

    <h2>Ingredients:</h2>
        <ul>
            <% cocktail.ingredients.forEach(ingredient => { %>
                <li><%= ingredient %></li>
            <% }) %>
        </ul>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
