<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/static/styles/detailPage.css">
</head>

<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>

  <section id="section1DetailPage">
    <h1><%= cocktail.strDrink %></h1>
    <img src="<%= cocktail.strDrinkThumb %>" alt="<%= cocktail.strDrink %>">

    <h2>Ingredients:</h2>
    <ul>
        <% for (let i = 1; i <= 15; i++) { %>
            <% const ingredient = cocktail[`strIngredient${i}`]; %>
            <% const measure = cocktail[`strMeasure${i}`]; %>
            <% if (ingredient) { %>
                <li><%= measure ? measure : '' %> <%= ingredient %></li>
            <% } %>
        <% } %>
    </ul>

    <img class="backgroundImage" src="/static/images/iconBackground.svg" alt="">
    <img class="backgroundImage2" src="/static/images/iconBackground2.svg" alt="">
  <p><strong>Instructions:</strong> <%= cocktail.strInstructions %></p>
  </section>

  <section id="otherUserFavorites">
    <h2>Other users also liked:</h2>
    <ul>
      <% relatedFavorites.forEach(function(drink) { %>
        <li>
          <a href="/detailPage?id=<%= drink.idDrink %>">
            <h3><%= drink.strDrink %></h3>
            <img src="<%= drink.strDrinkThumb %>" alt="<%= drink.strDrink %>" width="100">
            <p><%= drink.strAlcoholic %></p>
          </a>
          <form action="/toggleFavorite" method="post">
            <input type="hidden" name="cocktailId" value="<%= drink.idDrink %>">
            <button class="heartButton" type="submit">
              <svg viewBox="0 0 65.68 54.33">
                  <path d="M64.68,17.52c0,2.9-.96,5.29-2.28,7.57-1.74,3.02-4.03,5.66-6.62,7.92l-22.88,19.99L6.8,30.27h0c-1.43-1.39-5.79-7.63-5.79-12.75C1,8.4,8.13,1,16.92,1s15.93,7.4,15.93,16.52c0-9.12,7.12-16.52,15.92-16.52s15.92,7.4,15.92,16.52Z"/>
              </svg>
          </button>
          </form>
        </li>
      <% }); %>
    </ul>
</section>



</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<script src="/static/scripts/cocktailAPI.js" defer></script> 
<!-- The script above is for getting access and searching for cocktails -->
<script src="/static/scripts/common.js" defer></script> 
<script src="/static/scripts/carrousel.js" defer></script> 

</body>
</html>
